body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  padding-top: 60px;
  max-width: 100%; /* Limit max width for larger screens */
  margin: 0 auto; /* Center the container */
   /* Add some padding */
}

/* Responsive Typography */
h1 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

/* Media Queries */
@media (max-width: 768px) {
  .app-container {
    padding: 10px; /* Reduce padding on smaller screens */
  }

  h1 {
    font-size: 1.5em; /* Smaller heading size */
  }

  p {
    font-size: 0.9em; /* Slightly smaller text */
  }
}

@media (min-width: 769px) {
  .app-container {
    padding: 20px; /* More padding for larger screens */
  }
}
