.community {
  background-color: aliceblue;
  padding-top: 300px;
  background-image: url("../images/1.png");
}
.community .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  background-image: url("../images/1.png");
  padding-top: 10px;
}

.community .flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 50%;
  /* border: 1px solid black; */
  margin: 100px;
}

.community .flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 50%;
  margin: 30px;
}

.link-box {
  width: 80%; /* Width of the box */
  padding: 15px; /* Padding inside the box */
  display: flex; /* Flexbox layout */
  gap: 50px; /* Space between links */
}

.link-box a {
  color: green; /* Link color */
  text-decoration: none; /* Removes underline */
  font-family: Arial, sans-serif;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.link-box a:hover {
  color: grey; /* Darker color on hover */
}

.community .flex-items:nth-child(2) p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: green;
}

.community .flex-items:nth-child(2) input[type="text"] {
  width: 50%;
  height: 40px;
  margin: 5px;
  background: transparent;
  border: 1px solid green;
  text-align: center;
  color: green;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.community .flex-items:nth-child(2) input[type="text"]::placeholder {
  text-align: center;
}
.community .flex-items:nth-child(2) input[type="text"]:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.community .flex-items:nth-child(2) button {
  width: 30%;
  height: 45px;
  margin: 5px;
  border: 1px solid green;
  background: transparent;
  color: green;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.community .flex-items:nth-child(2) button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.community .flex-items:nth-child(2) .community-text {
  font-size: 13px;
}
