.n {
  padding: 20px;
  text-align: center;
  background-image: url("../images/1.png");

  background-size: cover; /* Ensure the background covers the area */
  background-repeat: no-repeat; /* Prevents repeating */
}

.n-brand {
  font-size: 60px; /* Keep the font size consistent */
  font-weight: bold;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

/* Search Input Styles */
.n-search {
  padding: 8px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 50%; /* Responsive width */
  max-width: 400px; /* Max width for larger screens */
  background-color: rgb(81, 122, 19);
  height: 30px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.n-search:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.n-search::placeholder {
  color: white;
  text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .n-brand {
    font-size: 40px; /* Smaller font size for mobile */
  }

  .n-search {
    width: 80%; /* Increase width for smaller screens */
  }
}

@media (max-width: 480px) {
  .n-brand {
    font-size: 32px; /* Further reduce font size for very small screens */
  }

  .n-search {
    font-size: 14px; /* Adjust input font size */
    height: 40px; /* Increase height for better usability */
  }
}
