.n {
  padding: 20px;
  text-align: center;

  background-image: url("../images/1.png");
}

.n-brand {
  font-size: 24px;
  font-weight: bold;
  font-size: 60px;
  font-weight: bold;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

.n-search {
  padding: 8px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 50%;
  background-color: rgb(81, 122, 19);
  height: 30px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.n-search:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.n-search::placeholder {
  color: white;
  text-align: center;
}
