.back {
  background-image: url("../images/1.png"); /* Background image for the full page */
  padding: 10px;
}
.con {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 900px; /* Sets the height of the container to full viewport height */
  padding-top: 10px;
}

/* Centered box with background image */
.box-1 {
  width: 90%; /* Width of the box */
  height: 500px; /* Increased height for additional content */
  background-image: url("../images/4.png"); /* Path to your background image */
  background-size: cover; /* Scales the image to cover the box */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  display: flex; /* Enables flexbox for the box */
  flex-direction: column; /* Arranges children in a column */
  justify-content: center; /* Centers text and input vertically */
  align-items: center; /* Centers text and input horizontally */
  border-radius: 50px;
}
.box-1 .h5 {
  color: rgb(185, 225, 124);
  font-weight: bold;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.box-1 .h6 {
  color: rgb(185, 225, 124);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Input field */
input[type="email"] {
  background: white;
  height: 30px;
  width: 80%; /* Width of the input field */
  padding: 10px; /* Padding inside the input */
  border: none; /* No border */
  border-radius: 20px; /* Rounded corners */
  margin: 10px 0; /* Margin above and below */
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

input[type="email"]::placeholder {
  text-align: center;
  color: grey;
}
/* Subscribe button */
input[type="email"]:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.subscribe-button {
  background-color: rgb(189, 231, 127); /* Background color of the button */
  color: grey; /* Text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding for button */
  border-radius: 50px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: 10px;
  width: 50%;
  height: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.subscribe-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
