.terms {
  background-color: aliceblue;
  background-image: url("../images/1.png");
  padding: 10px;
}
.line {
  width: 100%;
  height: 1px;
  border: 1px solid green;
  background-color: green;
}

.terms .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  background-image: url("../images/1.png");
  padding-top: 10px;
}

.terms .flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 50%;
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-left: 40px;
}

.terms .flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 50%;
  margin: 30px;
  margin-top: 10px;
  margin-left: 100px;
}
.terms .flex-items:nth-child(2) p {
  color: green;
  text-align: right;
}
