.App {
  text-align: center;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-size: 68%;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20240704/pngtree-full-hd-cb-editing-background-4k-image_15981897.jpg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.navbar input {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}

.event-card {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.event-card:hover {
  transform: scale(1.05);
}

.modal {
  padding: 1rem;
  background: black;
  color: aliceblue;
  border-radius: 8px;
  max-height: 90vh; /* Prevents overflowing */
  overflow-y: auto; /* Allows scrolling if content exceeds */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center align content */
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
}

img {
  max-width: 90%; /* Ensure images do not exceed the width of the modal */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
  margin-bottom: 1rem; /* Add space between images */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  cursor: pointer;
  font-size: 200%;
  color: white;
}

.close-icon:hover {
  color: red;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .modal {
    padding: 1rem; /* Reduce padding on smaller screens */
  }

  img {
    max-width: 100%; /* Adjust image width for mobile */
  }
}
